﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SuperHeroesApp</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/toastr.css" />
    <link rel="stylesheet" href="~/fonts/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/plugins/dataTables/datatables.min.css" />
</head>
<body>
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="wrapper wrapper-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/js/jquery-3.5.0.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/inspinia.js"></script>
    <script src="~/js/plugins/dataTables/datatables.min.js"></script>
    @RenderSection("Scripts", required: false)

    <script>
        $(document).ready(function () {
            @RenderSection("DocumentReady", false)
        });
    </script>

</body>
</html>
