﻿@model SuperHeroesApp.Models.SuperHeroeSearchModel

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.results)
            {
                <tr>
                    <td>@item.name</td>
                    <td>@item.appearance.gender</td>
                </tr>
            }
        </tbody>
    </table>
</div>
