﻿@model SuperHeroesApp.Models.SuperHeroeSearchModel

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="col-lg-12" style="text-align:center">
        <h3>Search for your favorite superheroes!</h3>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-12">
                        <form action="@Url.Action("Search", "SuperHeroes")" method="get">
                            <div class="input-group">
                                @Html.TextBoxFor(item => item.ResultsFor, new { @class ="form-control" })
                                <span class="input-group-btn">
                                    <button id="btnGlass" class="btn btn-primary" type="submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <br />
                <div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="searchResults">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>Occupation</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.results != null)
                                {
                                    @foreach (var item in Model.results)
                                    {
                                        <tr>
                                            <td class="client-avatar">
                                                <img src="@item.image.url">
                                            </td>
                                            <td>@item.name</td>
                                            <td>@item.appearance.gender</td>
                                            <td>@item.work.occupation</td>
                                            <td class="client-status">
                                                <span class='btn-group'>
                                                    <a href='@Url.Action("Index","Character", new  { id = item.id})/' class='btn btn-sm btn-primary' title='Super hereoe details'>
                                                        <span class='fa fa-fw fa-search'></span>
                                                        Details
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
<script type="text/javascript" src="~/js/search/searchSuperHeroejs.js"></script>

}

@section documentReady{
    superHeroe.Search.ShowValidationSummary('@TempData["msg"]');
}

