﻿@model SuperHeroesApp.Models.SuperHeroeModel

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row m-b-lg m-t-lg">
        <div class="col-md-6">
            <div class="profile-image">
                <img src="@Model.image.url" class="rounded-circle circle-border m-b-md" />
            </div>
            <div class="profile-info">
                <div>
                    <h2>@Model.name</h2>
                    <h4>@Model.biography.FullName</h4>
                    <small>@Model.biography.PlaceOfBirth</small>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <table class="table small m-b-xs">
                <tbody>
                    <tr>
                        <td>
                            <strong>Intelligence</strong>
                            @Model.powerstats.intelligence
                        </td>
                        <td>
                            <strong>strength</strong>
                            @Model.powerstats.strength
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Speed</strong>
                            @Model.powerstats.speed
                        </td>
                        <td>
                            <strong>Durability</strong>
                            @Model.powerstats.durability
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Power</strong>
                            @Model.powerstats.power
                        </td>
                        <td>
                            <strong>Combat</strong>
                            @Model.powerstats.combat
                        </td>
                    </tr>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>About @Model.biography.FullName</h3>
                    <div class="hr-line-dashed"></div>
                    <p class="small">
                        <strong>Alter Ego:</strong> @Model.biography.AlterEgos
                    </p>
                    <p class="small">
                        <strong>First Appearance:</strong> @Model.biography.FirstAppearance
                    </p>
                    <p class="small">
                        <strong>Publisher:</strong> @Model.biography.publisher
                    </p>
                    <p class="small">
                        <strong>Aligment:</strong> @Model.biography.alignment
                    </p>
                    <p class="small">
                        <strong>Aliases:</strong>
                        @String.Join(", ",@Model.biography.aliases)
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>Work and Connections </h3>
                    <div class="hr-line-dashed"></div>
                    <p class="small">
                        <strong>Occupation:</strong> @Model.work.occupation
                    </p>
                    <p class="small">
                        <strong>Base:</strong> @Model.work.@@base
                    </p>
                    <p class="small">
                        <strong>Group Affiliation:</strong> @Model.connections.GroupAffiliation
                    </p>
                    <p class="small">
                        <strong>Relatives:</strong> @Model.connections.relatives
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>Appearance </h3>
                    <div class="hr-line-dashed"></div>
                    <p class="small">
                        <strong>Gender:</strong> @Model.appearance.gender
                    </p>
                    <p class="small">
                        <strong>Race:</strong> @Model.appearance.race
                    </p>
                    <p class="small">
                        <strong>Eye Color:</strong> @Model.appearance.EyeColor
                    </p>
                    <p class="small">
                        <strong>Hair Color:</strong> @Model.appearance.HairColor
                    </p>
                    <p class="small">
                        <strong>Height:</strong> @String.Join(" - ", @Model.appearance.height)
                    </p>
                    <p class="small">
                        <strong>Weight:</strong> @String.Join(" - ", @Model.appearance.weight)
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>